In [1]:
import glob
import os

import pandas as pd
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

pd.set_option('display.max.colwidth',60)
pd.options.display.max_columns = 100

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

/var/folders/yv/8sn4_mf155d8ltwrkhtfcqm00000gn/T/ipykernel_19024/265164613.py:5: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

# Configuring the entire dataset

In [15]:
input_file = r'/Users/wuyuemeng/Desktop/project/real_dataset2'
allfile_list = glob.glob(os.path.join(input_file,'*.csv'))
allfile_list

['/Users/wuyuemeng/Desktop/project/real_dataset2/sport_complete.csv',
 '/Users/wuyuemeng/Desktop/project/real_dataset2/pet_complete.csv',
 '/Users/wuyuemeng/Desktop/project/real_dataset2/food_complete.csv']

In [16]:
all_data=[]
for file in allfile_list:
    try : 
        df=pd.read_csv(file,encoding='utf-8')
        all_data.append(df)
    except UnicodeDecodeError as e:
        e, file
    
data_combine = pd.concat(all_data, axis=0, ignore_index=True, sort=False)
data_combine.shape
data_combine.head()

(22266, 3)

,Unnamed: 0,thumbnail,category
0,0,https://i.ytimg.com/vi/P8sKtG-VLZI/hqdefault.jpg?sqp=-oa...,sport
1,1,https://i.ytimg.com/vi/9asUxE9beJo/hqdefault.jpg?sqp=-oa...,sport
2,2,https://i.ytimg.com/vi/E4N8K6qWEx8/hqdefault.jpg?sqp=-oa...,sport
3,3,https://i.ytimg.com/vi/9fufKujxeM0/hqdefault.jpg?sqp=-oa...,sport
4,4,https://i.ytimg.com/vi/rv2SsK1hies/hqdefault.jpg?sqp=-oa...,sport

In [17]:
data_combine['category'].value_counts()

food     7781
sport    7297
pet      7188
Name: category, dtype: int64

In [18]:
data_combine.columns

Index(['Unnamed: 0', 'thumbnail', 'category'], dtype='object')

In [6]:
data_combine = data_combine[['thumbnail', 'category']]

In [19]:
data_combine.to_csv('/Users/wuyuemeng/Desktop/project/real_dataset2/total_dataset.csv',encoding='utf-8-sig')

# Data preprocessing

In [20]:
df = data_combine

In [21]:
df['category_id'] = df['category'].factorize()[0]

In [22]:
df['category_id']

0        0
1        0
2        0
3        0
4        0
        ..
22261    2
22262    2
22263    2
22264    2
22265    2
Name: category_id, Length: 22266, dtype: int64

In [23]:
df.head()

,Unnamed: 0,thumbnail,category,category_id
0,0,https://i.ytimg.com/vi/P8sKtG-VLZI/hqdefault.jpg?sqp=-oa...,sport,0
1,1,https://i.ytimg.com/vi/9asUxE9beJo/hqdefault.jpg?sqp=-oa...,sport,0
2,2,https://i.ytimg.com/vi/E4N8K6qWEx8/hqdefault.jpg?sqp=-oa...,sport,0
3,3,https://i.ytimg.com/vi/9fufKujxeM0/hqdefault.jpg?sqp=-oa...,sport,0
4,4,https://i.ytimg.com/vi/rv2SsK1hies/hqdefault.jpg?sqp=-oa...,sport,0

In [24]:
df = df[['category_id', 'thumbnail']]
df.head()
df.to_csv('/Users/wuyuemeng/Desktop/project/real_dataset2/final_preprocessing_data.csv', encoding='utf-8-sig')

   category_id                                                    thumbnail
0            0  https://i.ytimg.com/vi/P8sKtG-VLZI/hqdefault.jpg?sqp=-oa...
1            0  https://i.ytimg.com/vi/9asUxE9beJo/hqdefault.jpg?sqp=-oa...
2            0  https://i.ytimg.com/vi/E4N8K6qWEx8/hqdefault.jpg?sqp=-oa...
3            0  https://i.ytimg.com/vi/9fufKujxeM0/hqdefault.jpg?sqp=-oa...
4            0  https://i.ytimg.com/vi/rv2SsK1hies/hqdefault.jpg?sqp=-oa...

In [25]:
df.shape

(22266, 2)

# Train-Test split

In [29]:
df_for_split = pd.read_csv('/Users/wuyuemeng/Desktop/project/real_dataset2/final_preprocessing_data.csv',encoding='utf-8-sig')
df_for_split

,Unnamed: 0,category_id,thumbnail
0,0,0,https://i.ytimg.com/vi/P8sKtG-VLZI/hqdefault.jpg?sqp=-oa...
1,1,0,https://i.ytimg.com/vi/9asUxE9beJo/hqdefault.jpg?sqp=-oa...
2,2,0,https://i.ytimg.com/vi/E4N8K6qWEx8/hqdefault.jpg?sqp=-oa...
3,3,0,https://i.ytimg.com/vi/9fufKujxeM0/hqdefault.jpg?sqp=-oa...
4,4,0,https://i.ytimg.com/vi/rv2SsK1hies/hqdefault.jpg?sqp=-oa...
...,...,...,...
22261,22261,2,https://i.ytimg.com/vi/eAzlO5akPOk/hqdefault.jpg?sqp=-oa...
22262,22262,2,https://i.ytimg.com/vi/RYXNx45aMDU/hqdefault.jpg?sqp=-oa...
22263,22263,2,https://i.ytimg.com/vi/HZEiL4IvHMo/hqdefault.jpg?sqp=-oa...
22264,22264,2,https://i.ytimg.com/vi/axsY0jeTBNE/hqdefault.jpg?sqp=-oa...
22265,22265,2,https://i.ytimg.com/vi/yhSsfBBBt-4/hqdefault.jpg?sqp=-oa...

In [30]:
sport_set = df_for_split.loc[df_for_split['category_id']==0,:].sample(frac=1).reset_index(drop=True)
pet_set = df_for_split.loc[df_for_split['category_id']==1,:].sample(frac=1).reset_index(drop=True)
food_set = df_for_split.loc[df_for_split['category_id']==2,:].sample(frac=1).reset_index(drop=True)
food_set

,Unnamed: 0,category_id,thumbnail
0,16576,2,https://i.ytimg.com/vi/l35cs9_Pb-M/hqdefault.jpg?sqp=-oa...
1,20262,2,https://i.ytimg.com/vi/wmMR4VTpJqE/hqdefault.jpg?sqp=-oa...
2,21124,2,https://i.ytimg.com/vi/1FaNnJ23PJk/hqdefault.jpg?sqp=-oa...
3,22224,2,https://i.ytimg.com/vi/P7KD0xDtC5Q/hqdefault.jpg?sqp=-oa...
4,15932,2,https://i.ytimg.com/vi/rOd4tsN3NmY/hqdefault.jpg?sqp=-oa...
...,...,...,...
7776,18490,2,https://i.ytimg.com/vi/nct-U8dW8SI/hqdefault.jpg?sqp=-oa...
7777,16236,2,https://i.ytimg.com/vi/iIz5NwUFdWQ/hqdefault.jpg?sqp=-oa...
7778,18294,2,https://i.ytimg.com/vi/doBNthD7W4M/hqdefault.jpg?sqp=-oa...
7779,16045,2,https://i.ytimg.com/vi/eU_1ZALeN_A/hqdefault.jpg?sqp=-oa...
7780,19410,2,https://i.ytimg.com/vi/OHP6e1hC6x8/hqdefault.jpg?sqp=-oa...

In [31]:
sport_test = sport_set.loc[sport_set['category_id']==0,:][-1459:]
pet_test = pet_set.loc[pet_set['category_id']==1,:][-1437:]
food_test = food_set.loc[food_set['category_id']==2,:][-1556:]
food_test

,Unnamed: 0,category_id,thumbnail
6225,17024,2,https://i.ytimg.com/vi/w6oisfv2Euc/hqdefault.jpg?sqp=-oa...
6226,18347,2,https://i.ytimg.com/vi/D9wj8Mpje2c/hqdefault.jpg?sqp=-oa...
6227,19742,2,https://i.ytimg.com/vi/gGyinlo46Hw/hqdefault.jpg?sqp=-oa...
6228,18265,2,https://i.ytimg.com/vi/ajI-jU8fOwo/hqdefault.jpg?sqp=-oa...
6229,14614,2,https://i.ytimg.com/vi/lf59a1yf4Wk/hqdefault.jpg?sqp=-oa...
...,...,...,...
7776,18490,2,https://i.ytimg.com/vi/nct-U8dW8SI/hqdefault.jpg?sqp=-oa...
7777,16236,2,https://i.ytimg.com/vi/iIz5NwUFdWQ/hqdefault.jpg?sqp=-oa...
7778,18294,2,https://i.ytimg.com/vi/doBNthD7W4M/hqdefault.jpg?sqp=-oa...
7779,16045,2,https://i.ytimg.com/vi/eU_1ZALeN_A/hqdefault.jpg?sqp=-oa...
7780,19410,2,https://i.ytimg.com/vi/OHP6e1hC6x8/hqdefault.jpg?sqp=-oa...

In [34]:
total_test_set = pd.concat([sport_test, pet_test, food_test])
total_test_set.to_csv('/Users/wuyuemeng/Desktop/project/real_dataset2/test_set.csv', encoding='utf-8-sig')

In [35]:
total_test_set.shape

(4452, 3)

In [37]:
sport_train = sport_set.loc[sport_set['category_id']==0,:][:5838]
pet_train = pet_set.loc[pet_set['category_id']==1,:][:5751]
food_train = food_set.loc[food_set['category_id']==2,:][:6226]

In [38]:
total_train_set = pd.concat([sport_train, pet_train, food_train])
total_train_set.to_csv('/Users/wuyuemeng/Desktop/project/real_dataset2/train_set.csv', encoding='utf-8-sig')

In [39]:
total_test_set.shape
total_train_set.shape

(4452, 3)

(17815, 3)